<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Execution Report</title>
</head>
<style>
    .datatable {
        font-size: 11pt; 
        font-family: Arial;
        border-collapse: collapse; 
        border: 1px solid silver;
    }

    .datatable td, th {
        padding: 5px;
    }

    .datatable tr:nth-child(even) {
        background: #E0E0E0;
    }

    .datatable tr:hover {
        background: silver;
        cursor: pointer;
    }

    .mismatch {
        background: rgb(212, 129, 119);
        cursor: pointer;
    }

    .match {
        background: rgb(154, 240, 158);
        cursor: pointer;
    }

</style>
<script>
    setTimeout(function(){
        let datatable = document.getElementById("mismatch_table")
        for (var i= 1, row; row = datatable.rows[i]; i++) {
        // for (var i= 0; row; row = datatable.rows[i]; i++) {
            var column_heading_previous = ""
            var column_heading = ""
            var column_value = ""
            for (var j= 0, cell; cell = row.cells[j]; j++) {
                // get column heading
                column_heading = datatable.rows[0].cells[j].innerHTML
                if(column_heading.includes("_")){
                    column_heading = column_heading.substr(0, column_heading.indexOf('_')).trim()
                    if(column_heading_previous === column_heading){
                        // Compare the value in both the cells
                        console.log(datatable.rows[i].cells[j-1].innerHTML.trim() + ' : '+ cell.innerHTML.trim())
                        if(datatable.rows[i].cells[j-1].innerHTML.trim() === cell.innerHTML.trim() ){
                            // change the background color of cell to green
                            cell.setAttribute('class', 'match')
                        }else{
                            // change the background color of cell to red
                            cell.setAttribute('class', 'mismatch')
                        }
                    }//else do nothing
                    column_heading_previous = column_heading // Assigning the current column to previous
                }//else do nothing
            }
        }
    }, 1000);

    function test(j){
        console.log(j)
    }
    
</script>
<body>
    <h1>Test execution summary report : {{ heading }}</h1>
    <p> Executed at : {{ timestamp }} </p>
    <div>
        <p>Total rows in source : {{total_rows_source}}</p>
        <p>Total rows in target : {{total_rows_target}}</p>
        <p>Total columns in source : {{total_columns_source}}</p>
        <p>Total columns in target : {{total_columns_target}}</p>
        
        <p>Number of matching rows : {{row_matches}}</p>
        <p>Do all the columms match : {{do_columns_match}}</p>
        <p>Do all the rows match : {{do_rows_match}}</p>
    </div>
    <div>
        <h2>Records only present in Source</h2>
        <p> Grid Shape(row : columns) : {{ unique_rows_source_shape }} **Does not include header and first index column</p>
        <div>
            {{ unique_rows_source }}
        </div> 
    </div>
    <div>
        <h2>Records only present in Target</h2>
        <p>Grid Shape(row : columns) : {{ unique_rows_target_shape }} **Does not include header and first index column</p>
        <div>
            {{ unique_rows_target }}
        </div> 
    </div>
    <div>
        <h2>Data mismatch report</h2>
        <p>Grid Shape(row : columns) : {{ df_shape }} **Does not include header and first index column</p>
        <div>
            {{ data_table }}
        </div> 
    </div>

    <div>
        <h2>All the records from both the data sources</h2>
        <p>Grid Shape(row : columns) : {{ all_data_table_shape }} **Does not include header and first index column</p>
        <div>
            {{ all_data_table }}
        </div> 
    </div>
    
</body>
</html>